body {
  padding: 0;
  margin: 0;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;

  box-shadow: 0 13px 13px rgba(0 ,1, 1, 0.2);

  background-color: #ffffff;
}

.button {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.alt-button {
  width: 458px;
  height: 58px;

  background-color: #81b3d2;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.alt-button:hover,
.alt-button:focus {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255,255,255,.3);

  background-color: #503e33;
}

.alt-button:active {
  background-color: #5496bd;
}

.main-header {
  background-color: #ffffff;
}

.main-navigation {
  position: relative;
  line-height: 14px;
  font-weight: 700;
  color: #000000;
}

.main-header-logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -69px;

  width: 138px;
  height: 70px;  
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  
  padding: 0;
  margin: 0;

  list-style: none;
}

.site-navigation li {  
  padding-top: 20px;
  padding-bottom: 22px;
  width: 128px;
}

.site-navigation li:nth-child(2),
.site-navigation li:last-child {
  margin-left: 112px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:last-child {
  text-align: right;
}

.site-navigation a {
  display: block;

  color: #000000;  
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, .3);
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus {
  color: #766357;
}

.features-entry {
  position: relative;

  text-align: center;
  min-height: 724px;

  background-image: 
    url("../img/intro-mask.png"),
    url("../img/intro-full.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 451px ,0 -56px;
}

.entry-container {
  position: absolute;
  top: 508px;
  min-height: 216px;
  width: 100%;
  background-color: #ffffff;
}

.features-entry h2 {
  margin: 0;
  padding: 0;
  padding: 60px 312px 27px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.features-entry p {
  margin: 0;
  padding: 0;

  line-height: 26px;  
}

.first-block,
.third-block {
  display: flex;
  justify-content: space-between;
  min-height: 256px;

  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
}

.first-block h2,
.third-block h2 {
  margin: 0;
  padding: 47px 96px 24px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.first-block p,
.third-block p {
  margin: 0;
  padding-bottom: 21px;
}

.first-block p:nth-child(3),
.third-block p:nth-child(3) {
  padding: 0 47px;
}

.second-block {
  background-color: #ffffff;
}

.features-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  
  text-align: center;
  list-style: none;

  min-height: 330px;
}

.feature-item {  
  position: relative;
  width: 300px;
  min-height: 220px;
}

.feature-item:first-child::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 112px;

  width: 75px;
  height: 72px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.feature-item:nth-child(2)::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 111px;

  width: 74px;
  height: 70px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.feature-item:nth-child(3)::before {
  content: "";

  position: absolute;
  top: 1px;
  left: 118px;

  width: 64px;
  height: 76px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.feature-item h3 {
  margin: 0;
  padding: 0;
  padding-top: 106px;


  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.feature-item p {
  margin: 0;
  padding: 0;
  padding-top: 24px;
}

.third-block {
  flex-direction: row-reverse;
}

.fourth-block {
  background-color: #eeeeee;
}

.features-block-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  
  text-align: center;
  list-style: none;

  min-height: 256px;
}

.feature-block-item {
  width: 300px;
}

.features-block-list h2 {
  margin: 0;
  padding: 3px 78px 0;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.features-block-list p {
  margin: 0;
  padding-top: 23px;
  padding-bottom: 5px;
}

.feature-block-item p:nth-child(3) {
  padding: 15px 15px;
}

.search {
  position: relative;
}

.search-block {
  padding: 0;
  margin: 0;
  min-height: 266px;

  position: relative;
}

.search-block h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  
  padding-top: 25px;
  text-align: center;
}

.search-block p {
  line-height: 24px;

  text-align: center;
}

.search-block .search-button {
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;

  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -284px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  
  box-sizing: border-box;
  padding: 55px;
  width: 568px;
  min-height: 395px;
  position: absolute;
  top: 266px;
  left: 50%;
  margin-left: -284px;

  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 7px 12px rgba(0,1,1,.2);
}

.search-item {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  padding-bottom: 30px;

  width: 460px;

  line-height: 26px;
  font-weight: 700;  
}

.search-item label {
  align-self: center;
}

.search-item:nth-child(4) label {
  margin-left: 50px;
}

.search-item input { 
  box-sizing: border-box;
  width: 346px;
  padding: 0 12px;


  font: inherit;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;

  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.search-item:nth-child(3),
.search-item:nth-child(4) {
  width: 229px;
  margin-bottom: 11px;
}

.search-item:nth-child(3) input,
.search-item:nth-child(4) input {
  width: 114px;
  text-align: center;
}

.search-item input:hover {
  background-color: #ebebeb;
  box-sizing: border-box;
}

.search-item input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}

.search-form .alt-button {
  align-self: flex-end;
}

.map {
  margin: 0;
  margin-top: -14px;
  padding: 0;
}

.filters {
  color: #ffffff;

  background-color: #6a6f75;
  background-image: url("../img/filter-background.jpg");
  background-position: top left;
  background-repeat: no-repeat;
}

.inner-wrapper {
  width: 1056px;
  margin: 0 auto; 
}

.filter-form {
  display: flex;
}

.filters ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-form fieldset {
  width: 160px;
  padding: 0;
  margin: 0;
  border: none;
}

.filter-form legend {
  padding-top: 27px;
  padding-bottom: 25px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-form label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 39px;
  padding-bottom: 25px;

  cursor: pointer;
}

.filter-input + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input:checked + label::before {
  display: none;
}

.filter-input:disabled + label::before,
.filter-input:disabled + label::after {
  opacity: 0.5;
}

.filters .filter-kind-of-house {
  margin-left: 95px;
}
/*---------------Третий фильтр-----------------*/
.filter-form .filter-cost {
  margin-left: auto;
  width: 318px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.filter-cost legend {
  padding-bottom: 10px;
}

.price-controls label {
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 32px;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-button {
  margin: 0 auto 22px;
  padding: 6px 30px;

  font-size: 16px;
  line-height: 26px;
  font-weight: 400;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: #000000;

  background-color: #ffffff;
}

.result-sort,
.hotels-item {
  border-bottom: 1px solid #e5e5e5;
}

.result-sort .inner-wrapper {  
  display: flex;
}

.sort-label {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.result-sort p {
  margin: 0;
  padding-top: 31px;
  padding-bottom: 31px;
}

.sort-find {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sort-list {
  display: flex;
  align-items: center;

  padding: 0;
  margin: 0;

  list-style: none;
}

.sort-list li {
  text-align: center;
  width: 96px;
}

.sort-list a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0,0,0,.3);  

  border-bottom: 1px dotted #81b3d2;
}

.sort-list a:hover,
.sort-list a:focus {
  color: #81b3d2;
}

.sort-list a:active {
  color: #000000;

  border: none;
}

.sort-current a,
.sort-current a:active {
  color: #81b3d2;

  border: none;
}

.result-hotels ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.hotels-item .inner-wrapper{
  display: flex;
  align-items: center;
}

.hotels-item-image {
  margin-right: 30px;
}

.hotels-item-description {
  margin-right: auto;
}

.hotels-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels-name:hover,
.hotels-name:focus {
  color: #81b3d2;
}

.hotels-name:active {
  color: rgba(0,0,0,.3);
}

.hotels-item-description .button {
  font-size: 14px;
  line-height: 21px;
}

.hotels-rate {
  text-align: right;
}

.hotels-rate .rate {
  background-color: #f0f0f0;
}

.main-footer {
  position: relative;
}

.main-footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-height: 130px;

  background-color: #ffffff;
}

.main-footer .transparent-container{
  width: 1200px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgba(255,255,255,.9);
}

.footer-tag {
  margin: 0;
  margin-left: 132px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  width: 150px;
  margin-right: -53px;

  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 241px;
  margin: 0;
  margin-right: 81px;

  line-height: 26px;
  color: #000000;
}

.copyright-button {
  width: 115px;
  height: 41px;

  background-color: #ffffff;
}

.copyright-button svg {
  padding-left: 6px;
}

.copyright-button:hover path,
.copyright-button:focus path {
  fill: #81b3d2;
}

.copyright-button:active path {
  fill: #bdbbbc;
}