body {
  padding: 0;
  margin: 0;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0; 
  padding: 0;
  clip: rect(0 0 0 0);
   overflow: hidden; 
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;

  box-shadow: 0 15px 13px rgba(0 ,1, 1, 0.2);

  background-color: #ffffff;
}

.button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.alt-button {
  width: 458px;
  height: 58px;

  background-color: #81b3d2;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.alt-button:hover,
.alt-button:focus {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255,255,255,.3);

  background-color: #503e33;
}

.alt-button:active {
  background-color: #5496bd;
}

.main-header {
  background-color: #ffffff;
}

.main-navigation {
  position: relative;
  line-height: 14px;
  font-weight: 700;
  color: #000000;
}

.main-header-logo {
  position: absolute;
  /*left: 531px;*/ 
  /*left: 44.3%;*/
  left: 50%;
  margin-left: -69px;

  width: 138px;
  height: 70px;  
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  
  padding: 0;
  margin: 0;

  list-style: none;
}

.site-navigation li {  
  padding-top: 20px;
  padding-bottom: 22px;
  width: 128px;
}

.site-navigation li:nth-child(2),
.site-navigation li:last-child {
  margin-left: 112px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:last-child {
  text-align: right;
}

.site-navigation a {
  display: block;

  color: #000000;  
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, .3);
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus {
  color: #766357;
}

.main-container {
  margin-top: -17px;
}

main.container {
  margin-bottom: -21px;
}

main.inner-container {
  margin-bottom: 0;
}

.features-entry {
  margin-bottom: -14px;
  text-align: center;
  min-height: 724px;

  background-image: url("../img/intro.jpg");
  background-size: 1200px 724px;
  background-repeat: no-repeat;
}

.features-entry h2 {
  padding-top: 570px;

  font-style: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.features-entry p {
  line-height: 26px;
}

.first-block,
.third-block {
  display: flex;
  justify-content: space-between;
  min-height: 256px;

  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
}

.block-container {
  padding: 45px 46px 30px;
}

.first-block h2,
.third-block h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.second-block {
  background-color: #ffffff;
}

.features-list,
.features-block-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  
  text-align: center;
  list-style: none;

  min-height: 330px;
}

.feature-item,
.feature-block-item {
  width: 300px;
}

.feature-item h3,
.features-block-list h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.third-block {
  flex-direction: row-reverse;
}

.fourth-block {
  background-color: #eeeeee;
}

.features-block-list {
  min-height: 256px;
}

.search {
  position: relative;
}

.search-block {
  padding: 0;
  margin: 0;
  min-height: 266px;

  position: relative;
}

.search-block h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  
  padding-top: 25px;
  text-align: center;
}

.search-block p {
  line-height: 24px;

  text-align: center;
}

.search-block .search-button {
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: absolute;
  bottom: 0;
  left: 316px;
}

.search-form {
  width: 568px;
  min-height: 395px;
  position: absolute;
  top: 266px;
  left: 316px;

  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 7px 12px rgba(0,1,1,.2);
}

.search-item {
  line-height: 26px;
  font-weight: 700;

  text-align: left;
}

.search-item label {
  padding-left: 55px;
}

.search-item input[type="text"],
.search-item input[type="number"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;

  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.search-item input[type="text"]:hover,
.search-item input[type="number"]:hover {
  background-color: #ebebeb;
}

.search-item input[type="text"]:focus,
.search-item input[type="number"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.map {
  margin-top: -14px;
}

.filters {
  color: #ffffff;

  background-color: #6a6f75;
  background-image: url("../img/filter-background.jpg");
  background-position: top left;
  background-repeat: no-repeat;
}

.inner-wrapper {
  width: 1056px;
  margin: 0 auto; 
}

.filter-form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filters ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-cost-option input[type="number"] {
  font: inherit;
  color: #ffffff;

  background: transparent;
  border: none;
}

.filter-button {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;

  background: transparent;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: #000000;

  background-color: #ffffff;
}

.result-sort,
.hotels-item {
  border-bottom: 1px solid #e5e5e5;
}

.result-sort .inner-wrapper {  
  display: flex;
}

.sort-label {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.result-sort p {
  margin: 0;
  padding-top: 31px;
  padding-bottom: 31px;
}

.sort-list {
  display: flex;
  align-items: center;

  padding: 0;
  margin: 0;

  list-style: none;
}

.sort-list li {
  text-align: center;
  width: 96px;
}

.sort-list a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0,0,0,.3);  

  border-bottom: 1px dotted #81b3d2;
}

.sort-list a:hover,
.sort-list a:focus {
  color: #81b3d2;
}

.sort-list a:active {
  color: #000000;

  border: none;
}

.sort-current a,
.sort-current a:active {
  color: #81b3d2;

  border: none;
}

.result-hotels ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.hotels-item .inner-wrapper{
  display: flex;
  align-items: center;
}

.hotels-item-image {
  margin-right: 30px;
}

.hotels-item-description {
  margin-right: auto;
}

.hotels-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels-name:hover,
.hotels-name:focus {
  color: #81b3d2;
}

.hotels-name:active {
  color: rgba(0,0,0,.3);
}

.hotels-item-description .button {
  font-size: 14px;
  line-height: 21px;
}

.hotels-rate {
  text-align: right;
}

/* .hotel-star-rate {
  background-image: url("../img/star.svg");
  background-repeat: repeat-x;
} */

.hotels-rate .rate {
  background-color: #f0f0f0;
}

.main-footer {  
  position: relative;
}

.main-footer .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  min-height: 120px;

  background-color: #ffffff;
}

.transparent-contqainer{
  width: 1200px;  
  position: absolute;
  top: -119px;
  left: 50%;
  margin-left: -600px;

  opacity: 0.9;
}

.footer-tag,
.sort-find {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-copyright {
  line-height: 26px;
  color: #000000;
}